<!DOCTYPE html>
<html lang="es">
<head>
    <title>WayTravelTrek</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <link rel="icon" href="">

    <!-- Añadiendo Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Añadiendo normalize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <script src="https://kit.fontawesome.com/484a0c911a.js" crossorigin="anonymous"></script>

</head>
<body class="container">

    <section id="logo" class="my-5 d-flex justify-content-center align-items-center">
        <img src="../assets/img/logo/logo3.png" alt="" class="img-fluid">
    </section>

    <section id="info-reserva" class="d-flex justify-content-center align-items-center mt-5 shadow-sm">
        <div id="" class="bg-light p-4">
            <div class="d-flex justify-content-center align-items-center text-success display-4 border-bottom pb-2">
                <span class="codigo-reserva"><i class="fas fa-calendar-check mr-3"></i> {{reserva.getCodigo}}</span>
            </div>
            <div id="reserva-pendiente">
                <p class="border-bottom mt-4 pb-3" style="font-size: 22px">
                    Muchas gracias por reservar con nosotros, es un placer que nos haya elegido para ayudarlo a que sus vacaciones sean inolvidables. Su c&oacute;digo de reserva es el que se muestra arriba, aseg&uacute;rese de no perderlo. Recibir&aacute; el c&oacute;digo de reserva y toda la informaci&oacute;n relevante en su correo electr&oacute;nico. En un per&iacute;odo m&aacute;ximo de 48 horas le responderemos su solicitud. <strong>Por favor, revise su email con frecuencia.</strong> Si tiene alguna inquietud no dude en contactarnos.
                </p>
            </div>
            <div id="contacto">
                <a href="../index.html#contacto" target="_blank" rel="noopener noreferrer">Puede contactarnos
                    aqu&iacute;</a>
                <a href="{{path('homepage')}}" class="btn btn-lg btn-outline-success float-right">Entiendo!</a>
            </div>
        </div>
    </section>


    <!-- Añadiendo scripts js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
    
</body>
</html>