<!DOCTYPE html>
<html lang="es">

<head>
    <title>WayTravelTrek</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <link rel="icon" href="">

    <!-- Añadiendo Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Añadiendo normalize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- Añadiendo mis setilos css -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">

    <link rel="stylesheet" href="../../assets/css/responsive.css">

    <script src="https://kit.fontawesome.com/484a0c911a.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<body>

    <section class="container d-flex justify-content-center my-5" id="logo">
        <img src="../../../assets/img/logo/logo3.png" alt="" class="img-fluid">
    </section>

    <div class="container shadow d-flex align-items-center justify-content-center bg-light py-2 px-5">
        <form id="formulario-registro" action="../../captcha.php" method="POST" class="validated" novalidate>
            <h2 class="h5 text-left mb-3 mt-2 border-bottom border-dark">Por favor, reg&iacute;strese</h2>
            <div class="form-row">
                <div class="form-gruop col-sm-12">
                    <label for="username" class="sr-only">Nombre</label>
                    <input type="text" name="username" class="form-control mb-2" id="username" placeholder="Nombre"
                        required>
                    <div class="invalid-feedback">
                        Debe entrar un nombre v&aacute;lido
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" class="form-control mb-2" id="email" placeholder="Email" required>
                    <div class="invalid-feedback">
                        Debe entrar un email v&aacute;lido
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="confirmEmail" class="sr-only">Confirmar Email</label>
                    <input type="email" name="confirmEmail" class="form-control mb-2" id="confirmEmail"
                        placeholder="Confirmar Email" required>
                    <div class="invalid-feedback">
                        Debe entrar un email v&aacute;lido
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="password" class="sr-only">Contraseña</label>
                    <input type="password" name="password" class="form-control mb-2" id="password"
                        placeholder="Contraseña" required>
                    <small class="text-muted form-text">
                        Aseg&uacute;rese que su contraseña tenga al menos 6 caracteres
                    </small>
                    <div class="invalid-feedback">
                        Debe tener m&aacute;s de 5 caracteres
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="ConfirmPassword" class="sr-only">Contraseña</label>
                    <input type="password" name="ConfirmPassword" class="form-control mb-2" id="ConfirmPassword"
                        placeholder="Confirmar Contraseña" required>
                    <div class="invalid-feedback">

                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="checkbox" required>
                        <label class="custom-control-label" for="checkbox">
                            Doy mi consentimiento para que esta web almacene la informaci&oacute;n que env&iacute;o. Por tanto acepto y estoy de acuerdo con la <a href="#">Pol&iacute;tica de privacidad</a> y los <a href="#">T&eacute;rminos y Condiciones</a> de
                            WayTravelTrek.
                        </label>
                        <div class="valid-feedback">
                            Correcto!
                        </div>
                        <div class="invalid-feedback">
                            Debes estar de acuerdo para poder registrarme.
                        </div>
                        <div class="g-recaptcha mt-2" data-sitekey=""></div>
                        <br />
                        <button role="button" type="submit" class="btn btn-block my-4">Registrame</button>
                        <h2 class="h5 text-left mb-3 mt-5 border-bottom border-dark">Ha creado una cuenta?</h2>
                        <a role="button" href="../login/index.html" class="btn btn-block">Iniciar sesi&oacute;n</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Añadiendo scripts js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
    <script src="../../assets/js/validate-form.js"></script>
</body>

</html>
